<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookonline.mapper.BookManagementMapper">

    <resultMap id="BookManagmentResultMap" type="com.bookonline.entity.BookManagement">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="bname" column="bname" jdbcType="VARCHAR"/>
            <result property="isbn" column="isbn" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="INTEGER"/>
            <result property="createDate" column="create_date" jdbcType="DATE"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,uname,uloginName,
        upassword,utype
    </sql>

<!--    查-->
    <select id="bookAll" resultType="com.bookonline.entity.BookManagement">
        select * from books
    </select>

<!--增-->
    <insert id="testInsertData" parameterType="com.bookonline.entity.BookManagement">
        insert into users (loginname,upassword,uname) values (#{loginname},#{upassword},#{uname})
    </insert>
<!--    删-->


</mapper>
